@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Pozdrav :)</h1>
    <p>Ovo je 3. labos iz predmeta <a href="https://vsite.hr/hr/program/predmet/IT/PIN">PIN</a> :D.</p>
</div>
